@inject NavigationManager NavigationManager
@inject AppState AppState
@using E6Ko.Services

<div class="navbar navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">E6Ko</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="nav flex-column sidebar">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="navbar-collapse collapse @(collapseNavMenu ? "" : "show")" @onclick:stopPropagation>
            <ul class="navbar-nav flex-column w-100">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="bi bi-bag-heart"></i> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="notelist">
                        <i class="bi bi-card-list"></i> NoteList
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="noteeditor">
                        <i class="bi bi-pencil-square"></i> NoteEditor
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="folderlist">
                        <i class="bi bi-folder2-open"></i> FolderList
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="foldereditor">
                        <i class="bi bi-folder-plus"></i> FolderEditor
                    </NavLink>
                </li>
            </ul>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        StateHasChanged();
    }
}